////////////////////General////////////////////

* {
	border: 1px dotted black;
}

nav {
	text-align: center;
}

////////////////////Articles////////////////////

#left article {
	align: left;
}

#right article {
	align: right;
}

p:nth-child(3) {
	background: #000000
}